@inherits LayoutComponentBase

<BSToaster /> 

<header>
    <BSNavbar Class="app-navbar">
        <BSContainer Container="Container.Fluid">
            <BSNavbarBrand>Sticky Notes</BSNavbarBrand>
        </BSContainer>
    </BSNavbar>
</header>
<main class="mt-4">
    @Body
</main>